html,
body
  height: 100%
  margin: 0
  padding: 0
  border: 0
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
p
  line-height: 1.6em

a
  display: block

h2
  margin-bottom: 16px

.panel-footer .list-inline
  margin: 0

.anime-circle-base
  transform: scale3d(0, 0, 0)
  opacity: 0
  width: 100px
  height: 100px

.anime-circle
  width: 100px
  height: 100px
  animation: inout 1s
  border: 2px solid $white
  opacity: .7
  transform: scale3d(1, 1, 1)
  transition: background-color .2s linear
  &:hover
    border: 2px solid $blue
    opacity: 1

@keyframes inout
  0%
    transform: scale3d(0, 0, 0)
  100%
    transform: scale3d(1, 1, 1)

.teacher
  &__heading-name
    margin-top: 60px

  &__section-head
    margin-top: 32px