.navbar-visubus
  border: 0
  border-radius: 0
  background: $blue

  .navbar-brand
    &:hover
      cursor: pointer
    a
      color: $white
      text-decoration: none
      font-weight: 100
      letter-spacing: .06em
      font-size: 26px
      &:hover
        color: $white
        text-shadow: 1px 1px 5px $white

  .navbar-form
    .input-group
      margin-left: 24px
      input
        min-width: 320px

  .navbar-collapse li
    border-left: 1px solid rgba($gray + #333, .8)
    border-right: 1px solid rgba($gray + #333, .8)
    a
      color: rgba($gray + #333, .8)
    &:hover a
      color: $white
